duckduckgo_search>=7.5.1
requests>=2.32.3
Flask>=3.1.0
flask-cors>=5.0.1
beautifulsoup4>=4.13.3
gast>=0.6.0
google-ai-generativelanguage>=0.6.15
google-api-core>=2.24.2
google-api-python-client>=2.163.0
google-auth>=2.38.0
google-auth-httplib2>=0.2.0
google-genai==1.5.0
google-generativeai>=0.8.4
google-pasta>=0.2.0
googleapis-common-protos>=1.69.1
grpcio>=1.71.0
grpcio-status>=1.71.0
